@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-inter: "Inter", serif;
  --font-nunito-sans: "Nunito Sans", serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

h1, h2, h4 {
  font-family: var(--font-inter);
}

h3 {
  font-family: var(--font-nunito-sans);
}

.banner-home .swiper-pagination {
  left: 3.5rem!important;
  text-align: left;
}